@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Titan+One&display=swap');

.advantages {
  // display: flex;
  padding-inline: 115px;
  padding-block: 50px;
  padding-bottom: 97px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-bottom: 140px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 139px;
  }

  background-color: #fff5f6;

  &__header {
    display: none;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 38px;
    margin: auto;
  }
  &__item {
    flex-basis: calc((100% - 50px) / 1);
  }
  &__item--first::before {
    content: url(../images/advantages/bucketsplash.png);
  }
  &__item--second::before {
    content: url(../images/advantages/bucketapple.png);
  }
  &__item--third::before {
    content: url(../images/advantages/lollipop.png);
  }
  &__title {
    font-family: 'Titan One', cursive;
    font-size: 36px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #d41443;
  }
  &__text {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    color: #000000;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: auto;
  }
  .advantages__item {
    flex-basis: calc((100% - 100px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    max-width: 1050px;
  }
  .advantages__list {
    gap: 30px;
  }
}
