.gallery {
  display: block;
  width: 100%;
  background: linear-gradient(
    to bottom,
    map-get($colors, 'background-rose') 39.5%,
    map-get($colors, 'white-primary') 39.5%
  );
  
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
  

  &--container {
    max-width: 1280px;
  }
}

//.gallery__images {
  //background-image: url(../images/gallery/gallery-mobile.png);
 // width: 100%;
 // height: auto;
 // background-repeat: no-repeat;
 // background-size: cover;
 // margin: 0 auto;
 // margin-bottom: 80px;
  
//}

/*@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .gallery__images {
   // background-image: url(../images/gallery/gallery-mobile@2x.png);
  }
}*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .gallery {
    //background-image: url(../images/gallery/gallery-tablet.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 121px;
  }
}
/*
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .gallery__images {
   // background-image: url(../images/gallery/gallery-tablet@2x.png);
  }
}
*/
@media screen and (min-width: 1200px) {
  .gallery {
   // background-image: url(../images/gallery/gallery-desktop.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 123px;
    text-align: center;
  }
}
/*
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .gallery__images {
    //background-image: url(../images/gallery/gallery-desktop@2x.png);
  }
}
*/