.gallery {
  background-color: linear-gradient (to bottom, map-get($colors, 'background-rose') 40%, map-get($colors, 'background-white') 60%);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__images {
  display: block;
  max-width: 100%;
  height: auto;
}
