//PRODUCTS\\

.products {
  // background: getColor(background-white);
  // PRODUCTS
  &__products-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 228px;
    max-width: 320px;
  }
  // 100% NATURAL
  &__label {
    font-family: 'Titan One';
    font-size: 30px;
    font-weight: 400;
    color: getColor(background-pink);
    text-align: center;
    margin-top: 70px;
  }
  // HEADING
  &__heading {
    font-family: 'Titan One';
    font-size: 58px;
    font-weight: 400;
    line-height: 66.41px;
    letter-spacing: 6%;
    text-align: center;
    color: getColor(pink-primary);
    margin-bottom: 180px;
  }
  // PICTURES
  &__pic {
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: -133px;
  }
  &__item {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 485px;
    border-radius: 24px;
    margin: 0 auto 150px auto;
  }

  // nagłówki produktów
  &__item-heading {
    font-family: 'Titan One';
    font-size: 30px;
    font-weight: 400;
    line-height: 34.35px;
    letter-spacing: 4%;
    color: getColor(white-primary);
    text-align: center;
  }
  &__icecream {
    background-color: getColor(background-pink);
  }
  &__icecoffee {
    background-color: getColor(ice-coffee-accent);
  }
  &__milkshake {
    background-color: getColor(milkshake-accent);
  }
  &__description--wrapper {
    display: inline-block;
    margin-top: 139px;
    text-align: center;
  }
  &__icon-dots {
    fill: getColor(white-primary);
    padding-top: 12px;
    padding: 0 auto;
    width: 130px;
    height: 30px;
    background-color: transparent;
  }
  &__icon-arrow {
    width: 40px;
    height: 40px;
  }

  &__description {
    font-family: 'DM Sans', sans-serif;
    color: getColor(white-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 28.16px;
    letter-spacing: 4%;
    text-align: center;
    padding: 30px auto;
  }
}
@media screen and (min-width: 768px) {
  .products {
    flex-direction: row;
    margin-right: 34px;
    margin-left: 34px;
    gap: 20px;

    &__list {
      display: flex;
      flex-direction: row;
      // margin-right: 34px;
      // margin-left: 34px;
      gap: 20px;
      flex-basis: calc((100% - 40px) / 3);
      align-items: center;
    }
    &__pic {
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      top: -133px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .products {
    &__heading {
      margin-bottom: 220px;
    }
    &__list {
      display: flex;
      flex-direction: row;
      margin-right: 113px;
      margin-left: 113px;
      gap: 25px;
      flex-basis: calc((100% - 50px) / 3);
      align-items: center;
    }
    &__item {
      position: relative;
      height: 525px;
    }
    &__pic {
      display: block;
      margin: 0 auto;
      position: absolute;
      top: -193px;
      left: -12px;
    }
    &__description--wrapper {
      margin-top: 159px;
    }
  }
}
