.container {
    min-width: 180px;
    // min-width: 320px;
    margin: 0 auto;
    // border: 1px solid black;
    // border-radius: 10px;
    padding: 10px;
    justify-content: center;
    padding: 30px;
    align-items: center;
}

.review__picture {
    margin: 0 auto;
    display: flex;
    //     align-items: center;
    //    align-content: center;
}

.review__wrapper {
    display: flex;
}

.review__wrapper-svg {
    display: flex;
    margin-bottom: 30px;
}

.review__quotationmark-icon {
    z-index: -1;
    position: absolute;
}

.review__testimonial {
    text-align: center;
    align-items: baseline;
    margin: 0 auto;
    line-height: 31px;
    font-size: 12px;
    background-image: repeating-linear-gradient(#fff, #fff 30px, #E1E1E1 30px, #E1E1E1 31px);
    position: relative;
    z-index: 999;
}



.review__dots {
    display: flex;
    height: 4px;
    width: 32px;
    margin: 0 auto;
    margin-top: 30px;
}

.review__dots-icon {
    width: 4px;
    height: 4px;
    fill: #D9D9D9;

    &:hover {
        fill: #D31342;
    }
}

.review__details {
    text-align: center;
    font-size: 14px;
}

.review__svg {
    display: flex;
    width: 72px;
    height: 12px;
    margin: 0 auto;
}

.review_svg-home {
    content: "";
    width: 12px;
    height: 12px;
    fill: #D9D9D9;

    &:hover {
        fill: #D31342;
    }
}

.review_svg-ellipse {
    content: "";
    width: 12px;
    height: 12px;
    fill: #D9D9D9;

    &:hover {
        fill: #D31342;
    }
}