<section class="container about" id="about">
  <div class="about__header">
    <label class="about__header-label">Tradition and love</label>
    <h2 class="about__header-title">How It's Made?</h2>
  </div>
  <div class="informations">
    <picture class="informations__picture">
      <source
        media="(min-width: 1280px)"
        srcset="./images/about/cow-desktop.png 1x, ./images/about/cow-desktop@2x.png 2x"
        type="image/png" />
      <source
        media="(min-width: 768px)"
        srcset="./images/about/cow-tablet.png 1x, ./images/about/cow-tablet@2x.png 2x"
        type="image/png" />
      <source
        media="(max-width: 767px)"
        srcset="./images/about/cow-mobile.png 1x, ./images/about/cow-mobile@2x.png 2x"
        type="image/png" />
      <img
        class="informations__picture-cow"
        src="./images/about/cow-mobile.png"
        alt="cow with milk"
    /></picture>
    <div class="informations__text">
      <p class="informations__text-black">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="informations__text-grey">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="informations__text-button" type="button" data-modal-open>
        Read more
        <svg class="informations__text-icon">
          <use class="" href="./images/sprites.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<section class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__button" type="button" data-modal-close>
      <img src="/images/about/modal-close.png" alt="close button"/>
    </button>
    <div class="modal__box animation-1">
      MILK
      <p class="modal__box-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="modal__box-number">---1---</a>
    </div>
    <div class="modal__box animation-2">
      CHOCOLATE
      <p class="modal__box-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="modal__box-number">---2---</a>
    </div>
    <div class="modal__box animation-3">
      TRADITION
      <p class="modal__box-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="modal__box-number">---3---</a>
    </div>
    <div class="modal__box animation-4">
      LOVE
      <p class="modal__box-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="modal__box-number">---4---</a>
    </div>
  </div>
</section>

<script src="./read-more.js"></script>
