<div class="advantages">
  <ul class="advantages__list">
    <li class="advantages__item">
      <img alt="bucket splash" width="33" height="50" src="../images/advantages/bucketsplash.png" />

      <h3 class="advantages__title">721</h3>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <img alt="bucket apple" width="50" height="50" src="../images/advantages/bucketapple.png" />
      <h3 class="advantages__title">16KG</h3>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <img alt="lollipop" width="44" height="50" src="../images/advantages/lollipop.png" />
      <h3 class="advantages__title">84</h3>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</div>
