<div class="container section__cards-contact">
 
  <h2 class="header-hidden">Contact</h2>
  <div class="cards-contact">
    <picture class="products__pic">
      <source
        media="(min-width: 1200px)"
        srcset="./images/contacts/sectionbg2.png 1x, ./images/products/sectionbg2@2x.png 2x"
        type="image/png" />
      
        <img class="cards-contact--background" src="./images/contacts/sectionbg2.png" alt=""></picture>
   
    <div class="card-contact">
      <div>
        <div class="card-contact__branch-category">cafe</div>
        <div class="card-contact__branch">
          <h3 class="card-contact__city">Chicago</h3>
          <p class="card-contact__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="card-contact__line"></div>
        <ul class="card-contact__opening-hours">
          <li>
            <h3 class="card-contact__opening-days">Monday - Friday</h3>
            <p class="card-contact__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <h3 class="card-contact__opening-days">Saturday - Sunday</h3>
            <p class="card-contact__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="card-contact__line"></div>
        <ul class="card-contact__contact-branch">
          <li><a class="card-contact__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li>
            <a class="card-contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-contact">
      <div>
        <div class="card-contact__branch-category card-contact--resize">foodtruck</div>
        <div class="card-contact__branch">
          <h3 class="card-contact__city">Los Angeles</h3>
          <p class="card-contact__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="card-contact__line"></div>
        <ul class="card-contact__opening-hours">
          <li>
            <h3 class="card-contact__opening-days">Monday - Friday</h3>
            <p class="card-contact__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <h3 class="card-contact__opening-days">Saturday - Sunday</h3>
            <p class="card-contact__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="card-contact__line"></div>
        <ul class="card-contact__contact-branch">
          <li><a class="card-contact__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li>
            <a class="card-contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-contact">
      <div>
        <div class="card-contact__branch-category">cafe</div>
        <div class="card-contact__branch">
          <h3 class="card-contact__city">New York</h3>
          <p class="card-contact__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="card-contact__line"></div>
        <ul class="card-contact__opening-hours">
          <li>
            <h3 class="card-contact__opening-days">Monday - Friday</h3>
            <p class="card-contact__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <h3 class="card-contact__opening-days">Saturday - Sunday</h3>
            <p class="card-contact__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="card-contact__line"></div>
        <ul class="card-contact__contact-branch">
          <li><a class="card-contact__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li>
            <a class="card-contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-contact__buttons">
    <button class="card-contact__button button--one">
      Our Locations<svg class="card-contact__button-icon"><use href="./images/sprites.svg#icon-arrow-btn"></use></svg></button
    ><button class="card-contact__button button--two">
      Franchise<svg class="card-contact__button-icon"><use href="./images/sprites.svg#icon-arrow-btn" ></use></svg>
    </button>
  </div>
</div>
