<div class="container section__cards-contact" id="contact">
  <h2 class="header-hidden">Contact</h2>
  <div class="cards-contact">
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="./images/contacts/sectionbg2.png 1x, ./images/contacts/sectionbg2@2x.png 2x"
        type="image/png" />

      <img
        class="cards-contact--background"
        src="./images/contacts/sectionbg2.png"
        alt="rysunek plamek dla tła"
    /></picture>

    <div class="card-contact">
      <div>
        <div class="card-contact__branch-category">cafe</div>
        <div class="card-contact__branch">
          <h3 class="card-contact__city">Chicago</h3>
          <p class="card-contact__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="card-contact__line"></div>
        <ul class="card-contact__opening-hours">
          <li>
            <h3 class="card-contact__opening-days">Monday - Friday</h3>
            <p class="card-contact__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <h3 class="card-contact__opening-days">Saturday - Sunday</h3>
            <p class="card-contact__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="card-contact__line"></div>
        <ul class="card-contact__contact-branch">
          <li><a class="card-contact__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li>
            <a class="card-contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-contact">
      <div>
        <div class="card-contact__branch-category card-contact--resize">foodtruck</div>
        <div class="card-contact__branch">
          <h3 class="card-contact__city">Los Angeles</h3>
          <p class="card-contact__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="card-contact__line"></div>
        <ul class="card-contact__opening-hours">
          <li>
            <h3 class="card-contact__opening-days">Monday - Friday</h3>
            <p class="card-contact__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <h3 class="card-contact__opening-days">Saturday - Sunday</h3>
            <p class="card-contact__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="card-contact__line"></div>
        <ul class="card-contact__contact-branch">
          <li><a class="card-contact__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li>
            <a class="card-contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-contact">
      <div>
        <div class="card-contact__branch-category">cafe</div>
        <div class="card-contact__branch">
          <h3 class="card-contact__city">New York</h3>
          <p class="card-contact__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="card-contact__line"></div>
        <ul class="card-contact__opening-hours">
          <li>
            <h3 class="card-contact__opening-days">Monday - Friday</h3>
            <p class="card-contact__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <h3 class="card-contact__opening-days">Saturday - Sunday</h3>
            <p class="card-contact__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="card-contact__line"></div>
        <ul class="card-contact__contact-branch">
          <li><a class="card-contact__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li>
            <a class="card-contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-contact__buttons">
    <button class="card-contact__button button--one" data-mod-open>
      Our Locations<svg class="card-contact__button-icon">
        <use href="./images/sprites.svg#icon-arrow-btn"></use>
      </svg></button
    ><button type="button" class="card-contact__button button--two">
      Franchise<svg class="card-contact__button-icon">
        <use href="./images/sprites.svg#icon-arrow-btn"></use>
      </svg>
    </button>
  </div>
  <!-- mapka -->
  <div class="background-map hidde" data-mod>
    <div class="map">
      <button class="close" type="button" data-mod-close>X</button>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16797.682516794386!2d-87.63839856339774!3d41.9049248273415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd35724509241%3A0xeb818205e34d346a!2sOak%20Street%20Beach!5e0!3m2!1spl!2spl!4v1672162273920!5m2!1spl!2spl"
        width="100%"
        height="100%"
        style="border: 2"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
<script src="./map.js"></script>
