<footer>
  <div class="container footer">
    <div class="footer__flex">
      <div>
        <p class="footer__header-1">HOMEMADE ICE CREAM MADE</p>
        <p class="footer__header-2">WITH PASSION</p>
      </div>
      <div class="footer__svg-contacts">
        <ul class="footer__svg">
          <li>
            <a class="footer__svg-styling-effect" href="./index.html" target="_blank">
              <svg class="footer__svg-styling" width="34" height="34">
                <use href="./images/sprites.svg#icon-git"></use></svg
            ></a>
          </li>
          <li>
            <a class="footer__svg-styling-effect" href="./index.html" target="_blank">
              <svg class="footer__svg-styling" width="34" height="34">
                <use href="./images/sprites.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li>
            <a class="footer__svg-styling-effect" href="./index.html" target="_blank">
              <svg class="footer__svg-styling" width="34" height="34">
                <use href="./images/sprites.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <div class="footer__contacts-flex">
          <p class="footer__contacts">Feel free to contact</p>
          <a class="footer__contacts-tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
    <div class="footer__watermark-border">
      <p class="footer__watermark">© 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
