<div class="backdrop hidden" data-modal>
  <div class="modal">
    <div class="modal-content">
      <button type="button" class="button__close" data-modal-close>X</button>
      <form class="form" name="PersonalData" autocomplete="on" novalidate>
        <h3 class="form__header">Zostaw swoje dane w formularzu poniżej</h3>

        <fieldset class="form__fieldset">
          <label for="name" class="form__label">Imię</label>
          <input name="name" class="form__input" type="text" id="name" />
          <svg class="form__icon" width="20" height="20">
            <use href="./images/icons.svg.svg#person-icon"></use>
          </svg>
        </fieldset>

        <fieldset class="form__fieldset">
          <label for="phone" class="form__label">Telefon</label>
          <svg class="form__icon" width="20" height="20">
            <use href="./images/icons.svg.svg#phone-icon"></use>
          </svg>
          <input
            name="phone-number"
            class="form__input"
            type="tel"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
            id="phone"
          />
        </fieldset>

        <fieldset class="form__fieldset">
          <label for="email" class="form__label">Email</label>
          <input name="email-contact__address" class="form__input" type="email" id="email" />
          <svg class="form__icon" width="20" height="20">
            <use href="./images/icons.svg.svg#email-icon"></use>
          </svg>
        </fieldset>

        <fieldset class="form__fieldset--textarea">
          <label class="form__label">Komentarz</label>
          <textarea
            name="comment"
            rows="5"
            cols="30"
            class="form__textarea"
            placeholder="Wprowadź tekst"
          ></textarea>
        </fieldset>
        <label class="legal-checkbox">
          <input class="legal-checkbox__input" type="checkbox" id="legal" />
          <span class="checkmark"></span>
          Oświadczam iż akceptuję <span class="legal-checkbox__conditions">Regulamin</span> i
          <span class="legal-checkbox__conditions">Politykę Prywatności</span>.
        </label>
        <input type="submit" value="Wyślij" class="form__submit" />
      </form>
    </div>
  </div>
</div>
