<!-- Section Header -->
<section class="header">
  <!-- button Menu Mobille -->
  <button
    class="menu-toggle js-open-menu mobile-menu__open-btn"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg
      width="24"
      height="24"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <!-- img header -->
  <img src="" alt="Logo" class="header__logo" />
  <img src="" alt="icecream" class="header__icecream" />
  <img src="" alt="" class="header__elipsebackground" />
  <!-- button header -->
  <button class="header__products">Products</button>
  <button class="header__howitsmade">How it`s made?</button>
</section>
