<!-- Section Header -->
<section class="header">
  <!-- Container section -->
  <div class="header__container">
    <!-- <div class="container-header"> -->
    <!-- button Menu Mobille -->
    <button
      class="menu-toggle js-open-menu mobile-menu__open-btn"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        width="20"
        height="14"
        viewBox="0 0 20 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 1H20" stroke="#D41443" />
        <path d="M0 7H20" stroke="#D41443" />
        <path d="M0 13H20" stroke="#D41443" />
      </svg>
    </button>
    <div class="navigation">
      <!-- img header -->

      <img
        alt="Logo"
        class="header__logo"
        src="./images/header/logoheader@1x.png"
        srcset="./images/header/logoheader@1x.png 199w, ./images/header/logoheader@2x.png 398w"
        sizes="(min-width:1200px) 199px, (min-width:768px) 199px, (min-width:320px) 199px, 98vw"
      />

      <!-- Navigation -->
      <ul class="navigation__list">
        <li class="navigation__list-element">
          <a class="header__link" href="#index.html">Home </a>
        </li>
        <li class="navigation__list-element">
          <a class="header__link" href="#review">About us</a>
        </li>
        <li class="navigation__list-element">
          <a class="header__link" href="#about">How it`s made?</a>
        </li>
        <li class="navigation__list-element">
          <a class="header__link" href="#products">Our products</a>
        </li>
        <li class="navigation__list-element">
          <a class="header__link" href="#contact">Contact </a>
        </li>
      </ul>
    </div>
    <img
      alt="icecream"
      class="header__icecream"
      src="./images/header/mobille/icecreamheadermobille@1x.png"
      srcset="
        ./images/header/mobille/icecreamheadermobille@1x.png 171w,
        ./images/header/mobille/icecreamheadermobille@2x.png 342w,
        ./images/header/tablet/icecreamheadertablet@1x.png   143w,
        ./images/header/tablet/icecreamheadertablet@2x.png   286w,
        ./images/header/desktop/icecream-dt@1x.png           236w,
        ./images/header/desktop/icecream-dt@2x.png           472w
      "
      sizes="(min-width:1200px) 236px, (min-width:768px) 143px, (min-width:320px) 171px, 98vw"
    />
    <img
      alt="elipse-background"
      class="header__elipsebackground"
      src="./images/header/tablet/ellipseheadertablet@1x.png"
      srcset="
        ./images/header/tablet/ellipseheadertablet@1x.png  324w,
        ./images/header/tablet/ellipseheadertablet@2x.png  648w,
        ./images/header/desktop/elipseheader-dt@1x.png     538w,
        ./images/header/desktop/elipseheader-dt@2x.png    1076w
      "
      sizes="(min-width:1200px) 538px, (min-width:768px) 324px, 98vw"
    />
    <img
      alt=""
      class="header__elipsebackgroundmobile"
      src="./images/header/mobille/ellipsemobille@1x.png"
      srcset="
        ./images/header/mobille/ellipsemobille@1x.png 284w,
        ./images/header/mobille/ellipsemobille@2x.png 568w
      "
      sizes="(min-width:320px) 284px , 98vw"
    />
    <!-- Textheader -->
    <div class="container-header">
      <h1 class="container-header__text">
        ice cream <br />
        made witch <br />
        <span class="container-header__text--primary">passion</span>
      </h1>
    </div>

    <!-- button header -->

    <div class="buttons-header">
      <a class="header__link header__link--white buttons-header__item" href="#products">
        Products</a
      >
      <a class="header__link buttons-header__item buttons-header__item--primary" href="#about">
        How it`s made?
      </a>
    </div>
    <!-- Img tablet/desktop  -->
    <div class="milk-text-arrow">
      <img
        alt="milk"
        class="milk-text-arrow__milk"
        src="./images/header/tablet/milkheadertablet@1x.png"
        srcset="
          ./images/header/tablet/milkheadertablet@1x.png 124w,
          ./images/header/tablet/milkheadertablet@2x.png 248w,
          ./images/header/desktop/milkheader-dt@1x.png   188w,
          ./images/header/desktop/milkheader-dt@2x.png   376w
        "
        sizes="(min-width:1200px) 188px, (min-width:768px) 124px, 98vw"
      />
      <div class="text-arrow">
        <p class="text-arrow__lorem">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <img
          alt="arrow"
          class="milk-text-arrow__arrow-right"
          src="./images/header/tablet/arrow-right-tb@1x.png"
          srcset="
            ./images/header/tablet/arrow-right-tb@1x.png 18w,
            ./images/header/tablet/arrow-right-tb@2x.png 36w,
            ./images/header/desktop/arrow-right@1x.png   30w,
            ./images/header/desktop/arrow-right@2x.png   60w
          "
          sizes="(min-width:1200px) 30px, (min-width:768px) 18px, 100vw"
        />
      </div>
    </div>
    <div class="right-side-header">
      <button class="header__buy">
        Buy now
        <!-- <svg class="icon-arrow-btn">
          <use class="icon-arrow-btn" xlink:href="#icon-arrow-btn"></use>
        </svg> -->
        <svg class="icon-arrow-btn">
          <use class="" href="./images/sprites.svg#icon-arrow-btn"></use>
        </svg>
      </button>
      <ul class="right-side-header__list">
        <li class="right-side-header__element">
          <img
            alt="elipse"
            class="right-side-header__elipse"
            src="./images/header/tablet/elipseheader-tb@1x.png"
            srcset="
              ./images/header/tablet/elipseheader-tb@1x.png  16w,
              ./images/header/tablet/elipseheader-tb@2x.png  32w,
              ./images/header/desktop/elipse-white-dt@1x.png 30w,
              ./images/header/desktop/elipse-white-dt@2x.png 60w
            "
            sizes="(min-width:1200px) 30px, (min-width:768px) 16px, 100vw"
          />
          <p class="right-side-header__text">16</p>
        </li>

        <li class="right-side-header__element mod">
          <p class="right-side-header__text--primary">cafes</p>
        </li>
        <li class="right-side-header__element">
          <img
            alt="elipse"
            class="right-side-header__elipse"
            src="./images/header/tablet/elipseheader-tb@1x.png"
            srcset="
              ./images/header/tablet/elipseheader-tb@1x.png  16w,
              ./images/header/tablet/elipseheader-tb@2x.png  32w,
              ./images/header/desktop/elipse-white-dt@1x.png 30w,
              ./images/header/desktop/elipse-white-dt@2x.png 60w
            "
            sizes="(min-width:1200px) 30px, (min-width:768px) 16px, 100vw"
          />
          <p class="right-side-header__text">23</p>
        </li>
        <li class="right-side-header__element mod">
          <p class="right-side-header__text--primary">food trucks</p>
        </li>
      </ul>
    </div>
    <img
      alt="sliderpic"
      class="header__sliderpic"
      src="./images/header/tablet/slider-pictablet@1x.png"
      srcset="
        ./images/header/tablet/slider-pictablet@1x.png    168w,
        ./images/header/tablet/slider-pictablet@2x.png    336w,
        ./images/header/desktop/slider-pic4desktop@1x.png 293w,
        ./images/header/desktop/slider-pic4desktop@2x.png 586w
      "
      sizes="(min-width:1200px) 293px, (min-width:768px) 168px, 100vw"
    />
  </div>

  <!-- Mobile-Menu -->

  <div class="mobile-menu js-menu-mobile is-open" id="mobile-menu">
    <button class="menu-toggle mobile-menu__close-btn js-close-menu">
      <svg
        fill="white"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <button class="mobile-menu__btn-buy">
      Buy now
      <!-- <svg class="icon-arrow-btn">
        <use class="icon-arrow-btn" xlink:href="#icon-arrow-btn"></use>
      </svg> --><svg class="icon-arrow-btn">
        <use class="" href="./images/sprites.svg#icon-arrow-btn"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__list-element">
        <a class="header__link" href="#index.html">Home</a>
      </li>
      <li class="mobile-menu__list-element mobile-menu__list-element-mod1">
        <a class="header__link" href="#review">About us</a>
      </li>
      <li class="mobile-menu__list-element mobile-menu__list-element-mod2">
        <a class="header__link" href="#about">How it`s made?</a>
      </li>
      <li class="mobile-menu__list-element mobile-menu__list-element-mod3">
        <a class="header__link" href="#products">Our products</a>
      </li>
      <li class="mobile-menu__list-element mobile-menu__list-element-mod4">
        <a class="header__link" href="#contact">Contact </a>
      </li>
    </ul>
  </div>
  <script src="./mobile-menu.js"></script>
</section>
