<!-- PRODUCTS -->
<section class="products" id="products">
  <div class="products__wrapper">
    <div class="products__heading">
      <p class="products__label">100% NATURAL</p>
      <h2 class="products__title">PRODUCTS</h2>
    </div>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__card products__icecream">
          <h3 class="products__card-heading">ICE CREAM</h3>

          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products__card-btn" type="button">
            <img
              class="products__icon-arrow"
              src="./images/products/arrow-right.png"
              alt="arrow right"
              width="38"
              height="38"
            />
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__card products__icecoffee">
          <h3 class="products__card-heading">ICE COFFEE</h3>

          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products__card-btn" type="button">
            <img
              class="products__icon-arrow"
              src="./images/products/arrow-right.png"
              alt="arrow right"
              width="38"
              height="38"
            />
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__card products__milkshake">
          <h3 class="products__card-heading">MILKSHAKES</h3>

          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.dolore magna aliqua facilisis.
          </p>
          <button class="products__card-btn" type="button">
            <img
              class="products__icon-arrow"
              src="./images/products/arrow-right.png"
              alt="arrow right"
              width="38"
              height="38"
            />
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
