<!-- PRODUCTS -->
<section class="products">
  <div class="container products__wrapper">
    <p class="products__label">100% NATURAL</p>
    <h2 class="productss__header">PRODUCTS</h2>
    <ul class="products__list">
      <li class="products__item products__icecream">
        <figure>
          <picture class="products__pic">
            <source
              media="(min-width: 1200px)"
              srcset="./images/products/desktop1@1x.jpg 1x, ./images/products/desktop1@2x.jpg 2x"
              type="image/jpg" />
            <source
              media="(min-width: 768px)"
              srcset="./images/products/tablet1@1x.jpg 1x, ./images/products/tablet1@2x.jpg 2x"
              type="image/jpg" />
            <source
              media="(max-width: 767px)"
              srcset="../src/images/products/mobile1@1x.jpg 1x, ./images/products/mobile1@2x.jpg 2x"
              type="image/jpg" />
            <img
              class="product__img"
              src="./images/products/mobile1@1x.jpg"
              alt="two scoops of pink ice cream in a cone with a strawberry"
          /></picture>

          <figcaption>
            <h3 class="products__item-header">ICE CREAM</h3>
            <svg class="products__icon">
              <use href="./images/sprites.svg#icon-three-dots"></use>
            </svg>
            <p class="products__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <svg class="products__icon">
              <use href="./images/sprites.svg#icon-right_arrow"></use>
            </svg>
          </figcaption>
        </figure>
      </li>
      <li class="products__item products__icecoffee">
        <figure>
          <picture products__pic>
            <source
              media="(min-width: 1200px)"
              srcset="./images/products/desktop2@1x.jpg 1x, ./images/products/desktop2@2x.jpg 2x"
              type="image/jpg" />
            <source
              media="(min-width: 768px)"
              srcset="./images/products/tablet2@1x.jpg 1x, ./images/products/tablet2@2x.jpg 2x"
              type="image/jpg" />
            <source
              media="(max-width: 767px)"
              srcset="./images/products/mobile2@1x.jpg 1x, ./images/products/mobile2@2x.jpg 2x"
              type="image/jpg" />
            <img
              class="product__img"
              src="./images/products/mobile2@1x.jpg"
              alt="a transparent glass filled with ice coffe, with a straw"
          /></picture>

          <figcaption>
            <h3 class="products__item-header">ICE COFFEE</h3>
            <svg class="products__icon">
              <use href="./images/sprites.svg#icon-three-dots"></use>
            </svg>
            <p class="products__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et b
            </p>
            <svg class="products__icon">
              <use href="./images/sprites.svg#icon-right_arrow"></use>
            </svg>
          </figcaption>
        </figure>
      </li>
      <li class="products__item products__milkshake">
        <figure>
          <picture products__pic>
            <source
              media="(min-width: 1200px)"
              srcset="./images/products/desktop3@1x.jpg 1x, ./images/products/desktop3@2x.jpg 2x"
              type="image/jpg" />
            <source
              media="(min-width: 768px)"
              srcset="./images/products/tablet3@1x.jpg 1x, ./images/products/tablet3@2x.jpg 2x"
              type="image/jpg" />
            <source
              media="(max-width: 767px)"
              srcset="./images/products/mobile3@1x.jpg 1x, ./images/products/mobile3@2x.jpg 2x"
              type="image/jpg" />
            <img
              class="product__img"
              src="./src/images/products/mobile3@1x.jpg"
              alt="a transparent glass filled witch chocolate milkshake, with whipped cream above with biscuits and marshmallows, with straw"
          /></picture>

          <figcaption>
            <h3 class="products__item-header">MILKSHAKES</h3>
            <svg class="products__icon">
              <use href="./images/sprites.svg#icon-three-dots"></use>
            </svg>
            <p class="products__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <svg class="products__icon">
              <use href="./images/sprites.svg#icon-right_arrow"></use>
            </svg>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
