<!-- PRODUCTS -->

<div class="container products">
  <p class="products__label">100% NATURAL</p>
  <h2 class="products__heading">PRODUCTS</h2>
  <ul class="products__list">
    <li class="products__item products__icecream">
      <figure>
        <picture class="products__pic">
          <source
            media="(min-width: 1200px)"
            srcset="./images/products/desktop1@1x.png 1x, ./images/products/desktop1@2x.png 2x"
            type="image/png" />
          <source
            media="(min-width: 768px)"
            srcset="./images/products/tablet1@1x.png 1x, ./images/products/tablet1@2x.png 2x"
            type="image/png" />
          <source
            media="(max-width: 767px)"
            srcset="./images/products/mobile1@1x.png 1x, ./images/products/mobile1@2x.png 2x"
            type="image/png" />
          <img
            class="product__img"
            src="./images/products/mobile1@1x.png"
            alt="two scoops of pink ice cream in a cone with a strawberry"
        /></picture>

        <figcaption class="products__description--wrapper">
          <h3 class="products__item-heading">ICE CREAM</h3>
          <svg class="products__icon-dots">
            <use href="./images/sprites.svg#icon-three-dots" width="130" height="30"></use>
          </svg>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <img
            class="products__icon-arrow"
            src="./images/products/arrow-right.png"
            alt="arrow right"
          />
          <!-- <svg class="products__icon-arrow">
            <use href="./images/sprites.svg#icon-right_arrow" width="60" height="20"></use>
          </svg> -->
        </figcaption>
      </figure>
    </li>
    <li class="products__item products__icecoffee">
      <figure>
        <picture class="products__pic">
          <source
            media="(min-width: 1200px)"
            srcset="./images/products/desktop2@1x.png 1x, ./images/products/desktop2@2x.png 2x"
            type="image/png" />
          <source
            media="(min-width: 768px)"
            srcset="./images/products/tablet2@1x.png 1x, ./images/products/tablet2@2x.png 2x"
            type="image/png" />
          <source
            media="(max-width: 767px)"
            srcset="./images/products/mobile2@1x.png 1x, ./images/products/mobile2@2x.png 2x"
            type="image/png" />
          <img
            class="product__img"
            src="./images/products/mobile2@1x.png"
            alt="a transparent glass filled with ice coffe, with a straw"
        /></picture>

        <figcaption class="products__description--wrapper">
          <h3 class="products__item-heading">ICE COFFEE</h3>
          <svg class="products__icon-dots">
            <use href="./images/sprites.svg#icon-three-dots" width="130" height="30"></use>
          </svg>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <img
            class="products__icon-arrow"
            src="./images/products/arrow-right.png"
            alt="arrow right"
          />

          <!-- <svg class="products__icon-arrow">
            <use href="./images/sprites.svg#icon-right_arrow" width="60" height="20"></use>
          </svg> -->
        </figcaption>
      </figure>
    </li>
    <li class="products__item products__milkshake">
      <figure>
        <picture class="products__pic">
          <source
            media="(min-width: 1200px)"
            srcset="./images/products/desktop3@1x.png 1x, ./images/products/desktop3@2x.png 2x"
            type="image/png" />
          <source
            media="(min-width: 768px)"
            srcset="./images/products/tablet3@1x.png 1x, ./images/products/tablet3@2x.png 2x"
            type="image/png" />
          <source
            media="(max-width: 767px)"
            srcset="./images/products/mobile3@1x.png 1x, ./images/products/mobile3@2x.png 2x"
            type="image/png" />
          <img
            class="product__img"
            src="./images/products/mobile3@1x.png"
            alt="a transparent glass filled witch chocolate milkshake, with whipped cream above with biscuits and marshmallows, with straw"
        /></picture>

        <figcaption class="products__description--wrapper">
          <h3 class="products__item-heading">MILKSHAKES</h3>
          <svg class="products__icon-dots">
            <use href="./images/sprites.svg#icon-three-dots" width="130" height="30"></use>
          </svg>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <img
            class="products__icon-arrow"
            src="./images/products/arrow-right.png"
            alt="arrow right"
          />
          <!-- <svg class="products__icon-arrow">
            <use href="./images/sprites.svg#icon-right_arrow" width="60" height="20"></use>
          </svg> -->
        </figcaption>
      </figure>
    </li>
  </ul>
</div>
