
<section class="container review" id="review">
  <div>
    <picture>
      <source
        
        srcset="./images/reviews/testimonials1-1x.png 1x, ./images/reviews/testimonials1-2x.png 2x"
        type="image/png" />

        <img
      class="review__picture"
      src="./images/reviews/testimonials1-1x.png"
      alt="testimonial-lady"
    /></picture>
  
  </div>


  <div class="review__wrapper">
    <svg class="review__wrapper-svg" width="54" height="40">
      <use class="review__quotationmark-icon" href="./images/sprites.svg#quotationmark"></use>
    </svg>
    <p class="review__testimonial">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc,accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
  </div>




    <div class="review_details">
        <div class="review__dots">
            <svg>
                <use class="review__dots-icon" href="./images/sprites.svg#ellipse-small" width="4" height="4"></use>
            </svg>
            <svg>
                <use class="review__dots-icon" href="./images/sprites.svg#ellipse-small" width="4" height="4"></use>
            </svg>
            <svg>
                <use class="review__dots-icon" href="./images/sprites.svg#ellipse-small" width="4" height="4"></use>
            </svg>
        </div>
        <p class="review__name">Emily, Los Angeles</p>
        <div class="review__svg">
            <svg>
                <use class="review_svg-home" href="./images/sprites.svg#home" width="12" height="12"></use>
            </svg>
            <svg>
                <use class="review_svg-ellipse" href="./images/sprites.svg#ellipse" width="12" height="12"></use>
            </svg>
            <svg>
                <use class="review_svg-ellipse" href="./images/sprites.svg#ellipse" width="12" height="12"></use>
            </svg>
        </div>
    </div>
  </div>
</section>
