<div class="review">
    <div class="review__picture">
    <img src="./../images/review/testimonials1 1x.png" alt="testimonial-lady" />
    </div>
    <div class="review__testimonial">
    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
    </div>
    <p>Emily, Los Angeles</p>
    <div class="review__svg">
    <svg>
        <use class="review_svg-home" href="./../images/sprites.svg#home" width="12" height="12"></use>
    </svg>
    <svg>
        <use class="review_svg-ellipse" href="./../images/sprites.svg#ellipse" width="12" height="12"></use>
    </svg>
    <svg>
        <use class="review_svg-ellipse" href="./../images/sprites.svg#ellipse" width="12" height="12"></use>
    </svg>
    </div>
</div>